// Colors 
$bgDarkColor: #1e1b2e;
$bgSecondaryColor: #232033;
$bgGoldColor: rgb(255, 187, 0);
$textColor: rgb(245, 245, 245);
$textMuted: rgb(99, 99, 99);
$bgSecondary50: #23203373;
$bgBlueColor: rgb(0, 162, 255);
$dangerColor: #dc3545;
$warrningColor: #ffc107;
$successColor: #28a745;