@import 'variables';
@import 'mixins';

@font-face {
    font-family: 'myriad';
    src: url('../../files/fonts/Myriad.ttf');
}
@font-face {
    font-family: 'myriad';
    src: url('../../files/fonts/MyriadWebBold.ttf');
    font-weight: bold;
}
body{
    font-family: 'myriad';
    background-color: $bgDarkColor !important;
}
.container{
    color: $textColor;
}
.container.blur{
    filter: blur(5px) ;
    -webkit-filter: blur(5px);
    opacity: .8;
}



/*-------------------
        Header 
--------------------*/
header{
    // Childes styles 
    #new-task-btn{
        background-color: $bgGoldColor;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        color: $bgDarkColor;
        width: 130px;
        font-weight: 500;
        padding: 8px ;
        transition: .4s;
        -webkit-transition: .4s;
        -moz-transition: .4s;
        -ms-transition: .4s;
        -o-transition: .4s;
        border: 3px solid transparent;
        @include mediaMinWidth(500px){
            span{
                margin-bottom: 1px;
            }
        }
        

        &:hover{
            background-color: $bgDarkColor ;
            border-color: $bgGoldColor;
            color: $bgGoldColor ;
        }
    }
}



/*----------------------- 
    Start Task Progress
-------------------------*/
.task-progress{
    background-color: $bgSecondaryColor;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;

    // Childs
    .icon{
        width: 70px;
        height: 70px;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
        border:3px solid $textMuted;
        color: $bgGoldColor;
        font-size: 1.8em;
    }
    .body span{
        color: $textMuted;
        font-weight: 400;
    }
    .circle{
        width: 75px; 
        height: 75px;
        position: relative;


    }
    .circle svg{
        width: 100%;
        height: 100%;
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
    }
    .circle svg circle{
        fill: none;
        stroke-width: 8px;
        transform: translate(4px,4px);
        -webkit-transform: translate(4px,4px);
        -moz-transform: translate(4px,4px);
        -ms-transform: translate(4px,4px);
        -o-transform: translate(4px,4px);
        stroke: gold;
        stroke-dasharray: 200.8;
        stroke-dashoffset: 200.8;
        stroke-linecap: round;
    }
    .circle svg circle:nth-child(1){
        stroke-dashoffset: 0;
        stroke: $textMuted;
    }
    .circle svg circle:nth-child(2){
        stroke-dashoffset: calc(200.8 - (196 * 50) / 100);
        stroke: rgb(73, 180, 175);
    }
    .circle .number{
        position: absolute;
        font-weight: bold;
    }
}
#in-progress-tasks{
    .circle svg circle:nth-child(2){
        stroke-dashoffset: calc(200.8 - (196 * 22) / 100);
        stroke: rgb(149, 130, 233);
    }
}


/*----------------------- 
    Start Task List
-------------------------*/
#task-list{
    background-color: $bgSecondaryColor;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;

    .icons i {
        font-size: 1.2em;
        color: rgb(255, 255, 255);
        cursor: pointer;
    }
    .checkbox-container{
        width: 30px;
        height: 30px;
        @include borderRadius(10px);

        .checkmark{
            width: 30px;
            height: 30px;
            @include borderRadius(10px);
        }

    }
    .category{
        font-size: .9em;
        color: $textMuted;
    }
    .description{
        color: $textColor;
        display: none;
        opacity: 0;
        @include transform(translateY(-20px));
        @include transition(.2s);
    }
    .description.active{
        display: block;
        opacity: 1;
        @include transform(translateY(0px));
    }
    
}


/*----------------------- 
    Start Message Box
-------------------------*/
#message-box{
    position: fixed;
    top: 0;
    right: 0;
    @include transform(translatY(-50%));
    width: 100%;
    height: 100vh;
    z-index: 25;
    pointer-events: none;
    height: 50px;

    .message{
        @include transform(translateY(100px));
        @include borderRadius(20px);
        @include transition(.3s);
        opacity: 0;
    }
    .message.show{
        @include transform(translateY(0px));
        opacity: 1;
    }
    .message.hidden{
        @include transform(translateY(-100px));
        opacity: 0;
    }
    .icon{
        width: 50px;
        height: 50px;
        border: 2px solid white;
        @include borderRadius(15px);
        font-size: 1.5em;
    }
    
}


/*----------------------- 
    Start New Task Form
-------------------------*/
#new-task-form{
    z-index: 1;
    top: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    @include transition(.3s);
    @include mediaMaxWidth(768px){
        font-size: .9em;
    }

    .background-blur{
        width: 100%;
        top: 0;
        right: 0;
        z-index: 0;
        // background-color: $bgSecondary50;
    }
    form{
        background-color: $bgDarkColor;
        @include borderRadius(20px);
        @include transform(translateY(30px));
        @include transition(.3s);
        z-index: 5;
    }
}
#new-task-form.active{
    visibility: visible;
    opacity: 1;
    pointer-events: all;

    form{
        @include transform(translateY(0px));
    }
}
#new-task-form form{
    .header i{
        font-size: 1.3em;
        cursor: pointer;

        &:hover{
            opacity: .7;
        }
    }
    input{
        border: 0;
        outline: none;
    }
    label{
        cursor: pointer;
    }
    #title{
        background-color: transparent;
        color: #fff !important;
        @include transition(.2s);
        border-bottom: 2px solid rgba(255, 255, 255, 0);
        
        &:focus{
            border-color: rgba(255, 255, 255, 0.356);
        }

    }
    .task-category{
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #new-category-btn{
        background-color: transparent;
        color: $bgBlueColor;
        outline: none;
        border: 3px solid $bgBlueColor;
        font-size: .8em;
        padding: 5px 8px;
        @include borderRadius(10px);
        @include transition(.3s);

        &:hover{
            background-color: $bgBlueColor;
            color: $textColor;
        }
    }
    #description{
        width: 100%;
        min-height: 100px;
        max-height: 400px;
        background-color: transparent;
        color: $textColor;
        @include borderRadius(20px);
        @include transition(.3s);
        border: 3px solid rgba(255, 255, 255, 0.068);
        outline: 0;

        &:focus{
            border-color: $textMuted;
        }
    }
    .optional{
        font-size: .8em;
    }
    #add-to-btn{
        background-color: $bgGoldColor;
        @include borderRadius(15px);
        border: 3px solid transparent;
        @include transition (.3s);

        &:hover{
            background-color: $bgDarkColor;
            border-color: $bgGoldColor;
            color: $bgGoldColor;
        }

        i{
            transform: translateY(1px);
            -webkit-transform: translateY(1px);
            -moz-transform: translateY(1px);
            -ms-transform: translateY(1px);
            -o-transform: translateY(1px);
        }
    }
}
#task-priority{
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    
    input{
        display: none;
    }
    label{
        @include transition(.3s);
        border: 3px solid transparent;
        padding: 0 15px 2px 15px;
    }
    #high:checked ~ label{
        background-color: $successColor;
        color: white;
    }
    #medium:checked ~ label{
        background-color: $warrningColor;
        color: white;
    }
    #low:checked ~ label{
        background-color: $dangerColor;
        color: white;
    }
}
.checkbox-container{
    width: 20px;
    height: 20px;
    border: 2px solid $textMuted;
    @include borderRadius(5px);
    cursor: pointer;
    position: relative;
    // overflow: hidden;

    input{
        display: inline-block;
        width: 90%;
        height: 90%;
        opacity: 0;
        cursor: pointer;
    }
    .checkmark{
        width: 21px;
        height: 21px;
        position: absolute;
        top: -2px;
        right: -2px;
        pointer-events: none;
        cursor: pointer;
        font-size: .8em;
        color: transparent;
        padding-left: 1px;
        @include borderRadius(5px);
        @include transition(.1s ease-in);
    }
    input:checked ~ .checkmark{
        color: $textColor;
        background-color: $bgBlueColor;
    }
}